html {
    background: url(background.jpg) no-repeat center top fixed;
    background-size: cover;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
}
[class="app"] {
    flex: 1;
    max-width: 768px;
}
